@font-face {
  font-family: AlienEncounters;
  src: url(../fonts/Alien-Encounters-Italic.ttf);
}

body {
  background-image: url("../images/background_ptrn.jpg");
}

.container > div {
   border: 1px #888;
}

/* HEADER / TITLE */
.jumbotron {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url("../images/station.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}

h1 {
  font-family: AlienEncounters;
  font-size: 7em;
  text-shadow: 0 0 8px #0000FF;
  color: white;
}

/* TABLE AND FORM CSS */
.blockOne{
  text-align: center;
}

.blockTwo {
  padding-bottom: 10%;
}

/* SLIDING TRAIN CSS */
#trainSliding{
  height: 100px;
}

div.slide-right {
  width:100%;
}

div.slide-right div.inner {
  animation: slide-right 30s infinite;
  margin-top:0%;
}



@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}